<div layout="column" flex>
    <md-card md-whiteframe="6"
             style="cursor: default"
             ng-repeat="item in atomicArray.items | filter:{'name': parentScope.query}">
        <md-card-header>
            <div layout="row" layout-align="center center" flex>
                <div layout="row" ng-click="parentScope.configureSource(item)" style="outline:none;cursor: pointer;">
                    <img ng-src="{{item.fileUrl}}" alt="item.name" class="media-medium"/>
                    <div layout="column" class="m-left-10">
                        <span class="md-title">{{item.name}}</span>
                        <span class="md-subhead">{{item.description}}</span>
                    </div>
                </div>


                <span flex></span>
                <md-button aria-label="Edit" class="md-icon-button" ng-click="parentScope.selectItem($event, item)">
                    <md-icon aria-label="edit_mode" class="material-icons step">edit_mode</md-icon>
                </md-button>
                <md-menu-bar class="margin-0 padding-0" style="margin-right:-15px;">
                    <md-menu md-position-mode="target-right target">
                        <md-button aria-label="Order" class="md-icon-button" ng-click="$mdOpenMenu()">
                            <md-icon aria-label="reorder" class="material-icons step">reorder</md-icon>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="parentScope.moveToFirst(item)" ng-disabled="$first">
                                    Mover al Principio
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-menu>
                                    <md-button ng-click="$mdOpenMenu()">
                                        Mover Antes de
                                    </md-button>
                                    <md-menu-content>
                                        <md-menu-item ng-repeat="previousItem in atomicArray.items">
                                            <md-button ng-disabled="$first || item.$key === previousItem.$key"
                                                       ng-click="parentScope.moveBefore(item, previousItem)">
                                                {{previousItem.name}}
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </md-menu-item>
                            <md-menu-item>
                                <md-menu>
                                    <md-button ng-click="$mdOpenMenu()">
                                        Mover Despu&eacute;s de
                                    </md-button>
                                    <md-menu-content>
                                        <md-menu-item ng-repeat="nextItem in atomicArray.items">
                                            <md-button ng-disabled="$last || item.$key === nextItem.$key"
                                                       ng-click="parentScope.moveNext(item, nextItem)">
                                                {{nextItem.name}}
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button  ng-click="parentScope.moveToLast(item)" ng-disabled="$last">
                                    Mover al Final
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
            </div>
        </md-card-header>
        <md-card-content class="no-outline padding-0 margin-0">
            <md-list class="margin-0 padding-0" flex>
                <md-list-item ng-click="null">
                    <div layout="row" flex>
                        <p class="margin-0">Estatus</p>
                        <span flex></span>
                        <md-icon aria-label="power_settings_new"
                                 ng-class="{'color-green': item.status.active, 'color-red': !item.status.active}"
                                 class="material-icons">power_settings_new</md-icon>
                    </div>
                </md-list-item>

                <md-subheader class="md-no-sticky">Asignaciones</md-subheader>
                <source-assignments source="item"></source-assignments>
            </md-list>

        </md-card-content>
    </md-card>
</div>