<div>
    <h2 style="text-align:center;">Frequently Asked Questions</h2>

    <div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="80" fxFlex.xs="100" fxFlex.sm="100">
                <div fxLayout="column">

                    <md-card style="margin:25px;">
                        <md-card-content>
                            <h3>How do I create my AmericanCoin Wallet?</h3>
                            <p>To create a wallet simply click on "Create Wallet".
                                You will be asked to to follow several steps.</p>
                            <ul>
                                <li>Enter a Password (Used to encrypt your Wallet File)</li>
                                <li>Download Wallet File (Used as a way of accessing your Wallet)</li>
                                <li>Print Paper Wallet</li>
                            </ul>

                            <span>
                        Following these steps will be ensuring your AmericanCoin Tokens safety.
                    </span>
                        </md-card-content>
                    </md-card>


                    <md-card style="margin:25px;">
                        <md-card-content>
                            <h3>How do I Save/Backup my Wallet?</h3>
                            <p>
                                You can Backup your wallet by downloading the Wallet
                                File and/or Paper Wallet when creating your new wallet.
                            </p>
                            <p>
                                If you already own a Wallet and didn't download these files
                                you can access them from your Wallet Dashboard.
                            </p>
                            <span>
                        *Hint: always keep these files on offline storage devices, such as USB sticks.
                    </span>
                        </md-card-content>
                    </md-card>

                    <md-card style="margin:25px;">
                        <md-card-content>
                            <h3>How do I Access my new Wallet?</h3>
                            <p>
                                You can access your new Wallet by using your Wallet File and your
                                Password or you can simply use your Private Key
                            </p>
                        </md-card-content>
                    </md-card>


                    <md-card style="margin:25px;">
                        <md-card-content>
                            <h3>How do I send & receive AmericanCoin Tokens?</h3>
                            <p>
                                You can send & receive funds by Accessing your AmericanCoin Wallet.
                                Always make sure you're browsing on ("https://www.americancoin.org/wallet").
                            </p>
                        </md-card-content>
                    </md-card>


                    <md-card style="margin:25px;">
                        <md-card-content>
                            <h3>Where are my AmericanCoin Tokens stored?</h3>
                            <p>
                                By creating an AmericanCoin Wallet you're implementing a very
                                popular security technique called <strong>Cold Storage</strong>.
                            </p>
                            <p>
                                We do not store any information from any user in order to protect
                                everyone's privacy.
                            </p>
                            <p>
                                The only access there is to a Wallet is through a
                                <strong>Wallet File + Password</strong> and a <strong>Private Key</strong>.
                                This is way we encourage AmericanCoin users to keep these pieces of
                                information in safe places.
                            </p>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</div>