<md-toolbar class="md-hue-1" md-whiteframe="5" style="margin:0px;">
    <div class="md-toolbar-tools" layout-align="start center">
        <md-icon md-font-icon="fa-newspaper-o" class="fa" alt="Newspaper" style="font-size:19px;"></md-icon>
        <h2>
            <span>Todos los Artículos</span>
        </h2>
        <span flex></span>
    </div>
</md-toolbar>

<div layout="column">
    <md-tabs md-dynamic-height md-center-tabs md-selected="selectedIndex">
        <md-tab label="{{category.name}}" ng-repeat="category in categoryArray.items"></md-tab>
    </md-tabs>

    <div class="md-padding">
        <ui-view></ui-view>
    </div>
</div>




