<md-toolbar class="md-hue-1" md-whiteframe="2" style="margin:0px;"  md-theme="{{$root.userInfo.theme}}" md-theme-watch="true">
    <div class="md-toolbar-tools">
        <h2>
            <span>{{activeSource.name}}</span>
        </h2>
    </div>
</md-toolbar>

<div layout="column">
    <md-tabs md-dynamic-height md-border-bottom  md-center-tabs md-selected="selectedIndex" md-theme="{{$root.userInfo.theme}}" md-theme-watch="true">
        <md-tab label="{{category.name}}" ng-repeat="category in sourceCategoriesData"></md-tab>
    </md-tabs>
    <section-preloader status="firstLotLoaded"></section-preloader>
    <div layout="column">
        <div flex
             infinite-scroll="nextPaginationLot()"
             infinite-scroll-distance="3"
             infinite-scroll-disabled="false"
             infinite-scroll-immediate-check="false"
             infinite-scroll-container="'.views-container'">
            <div deckgrid
                 class="deckgrid"
                 source="postsArray">
                <post-card post="card"></post-card>
            </div>
        </div>

        <div ng-show="paginating && itemsRemaining" layout="row" layout-align="center center">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
</div>