<md-dialog
        aria-label="Hashtags"
        flex-xs="100"
        flex-sm="100"
        flex-gt-sm="95"
        flex-md="85"
        flex-gt-md="70"
        style="height: 100%;">

    <div md-whiteframe="7" style="z-index: 5;height:70px;">
        <div layout="row" layout-align="center center" flex>
            <div ng-click="test()" layout="row" layout-align="center center" class="post-header-source padding-10">
                <img ng-src="assets/img/hashtag_themes/{{$root.userInfo.preferences.theme}}.png" style="max-width: 50px;height: 50px;">
                <div layout="column" class="m-left-10">
                    <div layout="row">
                        <h4 class="md-title margin-0">{{hashtag.name}}</h4>
                        <trending-hashtag last-post="hashtag.lastPost"></trending-hashtag>
                    </div>

                    <p class="margin-0">{{hashtag.description}}</p>
                </div>
            </div>

            <span flex></span>

            <bookmark-hashtag-element hashtag="hashtag"></bookmark-hashtag-element>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-tooltip md-direction="left" class="material-tooltip">Cerrar</md-tooltip>
                <md-icon aria-label="close" class="material-icons step color-{{$root.userInfo.preferences.theme}}">close</md-icon>
            </md-button>
        </div>
    </div>

    <md-dialog-content style="height: 100%;"
                       class="dialog-content-scroll">
        <infinite-display-wrapper config="config"></infinite-display-wrapper>
    </md-dialog-content>
</md-dialog>