<md-toolbar class="md-hue-1" md-whiteframe="2" style="margin:0px;"  md-theme="{{$root.userInfo.preferences.theme}}" md-theme-watch="true">
    <div class="md-toolbar-tools">
        <h2>
            <span>{{activeSource.name}}</span>
        </h2>
    </div>
</md-toolbar>

<div layout="column">
    <md-tabs md-dynamic-height
             md-border-bottom
             md-center-tabs
             md-selected="selectedIndex"
             md-theme="{{$root.userInfo.preferences.theme}}"
             md-theme-watch="true">
        <md-tab label="{{category.details.name}}" ng-repeat="category in sourceCategoriesData"></md-tab>
    </md-tabs>

    <div class="md-padding">
        <ui-view></ui-view>
    </div>



</div>