<md-card md-whiteframe="4">
    <md-card-header>
        <md-card-avatar class="no-outline" ng-click="displayLeaderFeed($event, leader)">
            <img ng-src="{{leader.avatar}}" alt="{{leader.name}}" class="circle large responsive-img"/>
        </md-card-avatar>
        <md-card-header-text class="no-outline" ng-click="displayLeaderFeed($event, leader)">
            <span class="md-title">{{leader.name}} <trending-leader last-post="leader.lastPost"></trending-leader></span>
            <div>
                <span class="md-subhead">{{leader.roleName | characters:55}}</span>
            </div>
        </md-card-header-text>
        <bookmark-leader-element leader="leader"></bookmark-leader-element>
    </md-card-header>

    <md-card-title class="padding-0">
        <md-card-title-text>
            <leader-posts leader="leader"></leader-posts>
            <md-divider></md-divider>
            <md-list class="margin-0 padding-0">
                <md-list-item ng-click="displayLeaderFeed($event, leader)" aria-label="Wrapper">
                    <div layout="row" layout-align="center center" flex>
                        <p class="margin-0">Ver todos</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-card-title-text>
    </md-card-title>

</md-card>