<is-preloader fetching="!postsLoaded"></is-preloader>
<div class="s-posts-container">
    <md-list flex class="padding-0 md-dense">
        <md-list-item class="md-2-line zoomInOut-animation" style="margin-right:0px;"
                      ng-repeat="post in posts"
                      ng-click="displayPost($event, post)">
            <img src="{{post.source.fileUrl}}" alt="{{post.source.name}}" class="media-small">
            <div class="md-list-item-text" style="padding-left:7px;">
                <h3>{{post.title | characters:50}}</h3>
                <p am-time-ago="post.eventDate"> </p>
            </div>
            <bookmark-post-element post="post"></bookmark-post-element>
        </md-list-item>

    </md-list>
</div>
