RewriteEngine On



RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.cambiaelmundo.net/$1 [R,L]

Options +FollowSymLinks -Indexes

DirectoryIndex index.php


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

<IfModule deflate_module>
    # Enable compression for the following file types.
    AddOutputFilterByType            \
     DEFLATE                         \
      application/javascript         \
      text/css                       \
      text/html                      \
      text/javascript                \
      text/plain                     \
      text/xml
</IfModule>

ErrorDocument 400 /views/error.php
ErrorDocument 403 /views/error.php
ErrorDocument 404 /views/error.php
ErrorDocument 405 /views/error.php
ErrorDocument 408 /views/error.php
ErrorDocument 500 /views/error.php
ErrorDocument 502 /views/error.php
ErrorDocument 504 /views/error.php





#Main Module
    RewriteRule ^error$ ./views/error.php

    RewriteRule ^main$ ./views/main/index.php

    #user Sections
    RewriteRule ^authenticate$ ./views/main/user/authenticate.php
    RewriteRule ^authenticate/$ ./views/main/user/authenticate.php
    RewriteRule ^completeRegistration$ ./views/main/user/completeRegistration.php
    RewriteRule ^completeRegistration/$ ./views/main/user/completeRegistration.php
    RewriteRule ^passwordReset$ ./views/main/user/passwordReset.php
    RewriteRule ^passwordReset/([a-zA-Z0-9_-]+)$ ./views/main/user/passwordReset.php?code=$1
    RewriteRule ^logout$ ./views/main/user/logout.php
    RewriteRule ^logout/$ ./views/main/user/logout.php
    RewriteRule ^socialNetwork$ ./views/main/socialNetwork/socialNetwork.php
    RewriteRule ^socialNetwork/$ ./views/main/socialNetwork/socialNetwork.php
    RewriteRule ^user$ ./views/main/user/profile.php
    RewriteRule ^user/([a-zA-Z0-9_-]+)$ ./views/main/user/profile.php?code=$1
    RewriteRule ^community$ ./views/main/user/community.php


    #Library Sections

    RewriteRule ^library/subject/([a-zA-Z0-9_-]+)$ ./views/main/library/subject.php?code=$1
    RewriteRule ^library/subSubject/([a-zA-Z0-9_-]+)$ ./views/main/library/subSubject.php?code=$1
    RewriteRule ^library/topic/([a-zA-Z0-9_-]+)$ ./views/main/library/topic.php?code=$1
    RewriteRule ^library/search$ ./views/main/library/search.php
    RewriteRule ^library/search/$ ./views/main/library/search.php
    RewriteRule ^library/viewSegment/([0-9_-]+)$ ./views/main/library/viewSegment.php?code=$1

    #Formula Sections
    RewriteRule ^formulas$ ./views/main/formula/formulas.php
    RewriteRule ^formulas/$ ./views/main/formula/formulas.php
    RewriteRule ^formula/([0-9_-]+)$ ./views/main/formula/viewFormula.php?code=$1
    RewriteRule ^formula/formulaSection/([0-9_-]+)$ ./views/main/formula/formulaSection.php?code=$1

    #Quiz Sections
    RewriteRule ^quiz/topic/([a-zA-Z0-9_-]+)$ ./views/main/quiz/topic.php?code=$1


    #Achievements
    RewriteRule ^achievements$ ./views/main/achievements/achievements.php

   #Recommended
   RewriteRule ^recommendedList$ ./views/main/recommended/recommendedList.php
   RewriteRule ^recommendedList/([0-9_-]+)$ ./views/main/recommended/recommendedList.php?code=$1
   RewriteRule ^recommended/([0-9_-]+)$ ./views/main/recommended/recommended.php?code=$1


   #RewriteRule ^recommended/$ ./views/main/recommended/recommendeds.php
   #RewriteRule ^recommended/([0-9_-]+)$ ./views/main/recommended/recommended.php?code=$1
   #RewriteRule ^recommended/search$ ./views/main/recommended/search.php
   #RewriteRule ^recommended/search/$ ./views/main/recommended/search.php

   #Query
   RewriteRule ^query$ ./views/main/query/query.php
   RewriteRule ^query/$ ./views/main/query/query.php

  #Cambia el Mundo
  RewriteRule ^aboutUs$ ./views/main/cem/aboutUs.php
  RewriteRule ^aboutUs/$ ./views/main/cem/aboutUs.php

  RewriteRule ^conditions/$ ./views/main/cem/conditions.php
  RewriteRule ^conditions$ ./views/main/cem/conditions.php

  RewriteRule ^privacy/$ ./views/main/cem/privacy.php
  RewriteRule ^privacy$ ./views/main/cem/privacy.php

  RewriteRule ^information/$ ./views/main/cem/information.php
  RewriteRule ^information$ ./views/main/cem/information.php
  RewriteRule ^sitemap$ ./views/main/cem/sitemap.php

  #Tools
    RewriteRule ^whiteboard/$ ./views/main/tools/whiteboard.php
    RewriteRule ^whiteboard$ ./views/main/tools/whiteboard.php
    RewriteRule ^calculator/$ ./views/main/tools/calculator.php
    RewriteRule ^calculator$ ./views/main/tools/calculator.php

  #Personal Tracker
  RewriteRule ^personalTracker$ ./views/main/personalTracker/personalTracker.php
  RewriteRule ^personalTracker/$ ./views/main/personalTracker/personalTracker.php
  RewriteRule ^personalTracker/([0-9_-]+)$ ./views/main/personalTracker/personalTracker.php?code=$1
  RewriteRule ^personalTracker/topic/([a-zA-Z0-9_-]+)$ ./views/main/personalTracker/topic.php?code=$1

  #Shop
  RewriteRule ^shop$ ./views/main/shop/shop.php
  RewriteRule ^shop/([a-zA-Z0-9_-]+)$ ./views/main/shop/shop.php?code=$1


#Admin Module
    #Admin User Sections
    RewriteRule ^admin$ ./views/admin/index.php
    RewriteRule ^admin/authenticate$ ./views/admin/user/authenticate.php
    RewriteRule ^admin/userLogout$ ./views/admin/user/userLogout.php


    #Material
    RewriteRule ^admin/library/subjects$ ./views/admin/library/subjects.php
    RewriteRule ^admin/library/subject/subSubjects/([0-9_-]+)$ ./views/admin/library/subSubjects.php?code=$1
    RewriteRule ^admin/library/subject/subSubject/topics/([0-9_-]+)$ ./views/admin/library/topics.php?code=$1
    RewriteRule ^admin/library/subject/subSubject/topic/panel/([0-9_-]+)$ ./views/admin/library/panel.php?code=$1
    RewriteRule ^admin/library/subject/subSubject/topic/quizPanel/([0-9_-]+)$ ./views/admin/quiz/quizPanel.php?code=$1

    #Quizzes
    RewriteRule ^admin/quiz/directories$ ./views/admin/quiz/directories.php
    RewriteRule ^admin/quiz/directories/$ ./views/admin/quiz/directories.php
    RewriteRule ^admin/quiz/topicDir$ ./views/admin/quiz/topicDir.php
    RewriteRule ^admin/quiz/add$ ./views/admin/quiz/add.php

    #Formulas
    RewriteRule ^admin/formulas$ ./views/admin/formula/formulas.php
    RewriteRule ^admin/formulas/([0-9_-]+)$ ./views/admin/formula/formulas.php?code=$1
    RewriteRule ^admin/formula/edit/([0-9_-]+)$ ./views/admin/formula/edit.php?code=$1


    #File Manager
    RewriteRule ^admin/fileManager$ ./views/admin/fileManager/fileManager.php
    RewriteRule ^admin/fileManager/$ ./views/admin/fileManager/fileManager.php

        RewriteRule ^admin/fileManagerIframe$ ./views/admin/fileManager/fileManagerIframe.php
        RewriteRule ^admin/fileManagerIframe/$ ./views/admin/fileManager/fileManagerIframe.php

    #Intelligence
    RewriteRule ^admin/intelligence$ ./views/admin/intelligence/intelligence.php

    #Runes
    RewriteRule ^admin/runes$ ./views/admin/runes/runes.php

    #Avatars
    RewriteRule ^admin/avatars$ ./views/admin/avatars/avatars.php
    RewriteRule ^admin/environments$ ./views/admin/environments/environments.php

    #Quizzes
    RewriteRule ^admin/library/subject/subSubject/topic/quiz/add/([0-9_-]+)$ ./views/admin/quiz/add.php?code=$1
    RewriteRule ^admin/library/subject/subSubject/topic/2opt-quiz/edit/([0-9_-]+)$ ./views/admin/quiz/2opt-edit.php?code=$1
    RewriteRule ^admin/library/subject/subSubject/topic/3opt-quiz/edit/([0-9_-]+)$ ./views/admin/quiz/3opt-edit.php?code=$1
    RewriteRule ^admin/library/subject/subSubject/topic/4opt-quiz/edit/([0-9_-]+)$ ./views/admin/quiz/4opt-edit.php?code=$1
    RewriteRule ^admin/library/subject/subSubject/topic/cor-inc-quiz/edit/([0-9_-]+)$ ./views/admin/quiz/cor-inc-edit.php?code=$1
    RewriteRule ^admin/library/subject/subSubject/topic/inp-quiz/edit/([0-9_-]+)$ ./views/admin/quiz/inp-edit.php?code=$1
    RewriteRule ^admin/library/subject/subSubject/topic/dpo-quiz/edit/([0-9_-]+)$ ./views/admin/quiz/dpo-edit.php?code=$1
    RewriteRule ^admin/library/subject/subSubject/topic/rem-quiz/edit/([0-9_-]+)$ ./views/admin/quiz/rem-edit.php?code=$1

    #Did You Know Section
    RewriteRule ^admin/didYouKnow$ ./views/admin/didYouKnow/main.php

    #Top 5
    RewriteRule ^admin/recommended$ ./views/admin/recommended/recommended.php

    #Query
    RewriteRule ^admin/query$ ./views/admin/query/query.php

    #Achievements
    RewriteRule ^admin/achievements$ ./views/admin/achievements/achievements.php


    #CoachPanel
    RewriteRule ^coachPanel/main$ ./views/coach_panel/index.php




    #--MOBILE
    RewriteRule ^mobile$ ./views/mobile/index.php
    RewriteRule ^mobile/subject/([0-9_-]+)$ ./views/mobile/library/subject.php?code=$1
    RewriteRule ^mobile/subSubject/([0-9_-]+)$ ./views/mobile/library/subSubject.php?code=$1
    RewriteRule ^mobile/topic/([0-9_-]+)$ ./views/mobile/library/topic.php?code=$1

    RewriteRule ^mobile/recommended/list$ ./views/mobile/recommended/list.php
    RewriteRule ^mobile/recommended/category/([0-9_-]+)$ ./views/mobile/recommended/category.php?code=$1
    RewriteRule ^mobile/recommended/([0-9_-]+)$ ./views/mobile/recommended/recommended.php?code=$1