<md-dialog
        aria-label="Leaders"
        flex-xs="100"
        flex-sm="100"
        flex-gt-sm="95"
        flex-md="85"
        flex-gt-md="70"
        style="height: 100%;">

    <div style="z-index: 5;height:90px;" md-whiteframe="7">
        <div layout="row" layout-align="center center">
            <div ng-click="test()" layout="row" layout-align="center center" class="post-header-source padding-10">
                <img ng-src="{{leader.avatar}}" alt="{{leader.name}}" class="circle large responsive-img"/>
                <div layout="column" class="m-left-10">
                    <div layout="row">
                        <h4 class="md-title margin-0">{{leader.name}}</h4>
                        <trending-leader last-post="leader.lastPost"></trending-leader>
                    </div>
                    <p class="margin-0">{{leader.roleName}}</p>
                </div>
            </div>

            <span flex></span>

            <bookmark-leader-element leader="leader"></bookmark-leader-element>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-tooltip md-direction="left" class="material-tooltip">Cerrar</md-tooltip>
                <md-icon aria-label="close" class="material-icons step color-{{$root.userInfo.preferences.theme}}">close</md-icon>
            </md-button>
        </div>
    </div>

    <md-divider></md-divider>

    <md-dialog-content style="height: 100%;" class="dialog-content-scroll">
        <md-tabs md-dynamic-height
                 md-center-tabs
                 md-selected="selectedIndex"
                 md-theme="{{$root.userInfo.preferences.theme}}"
                 md-theme-watch="true">


            <md-tab label="Noticias" style="width: 150px;">
                <infinite-display-wrapper config="config"></infinite-display-wrapper>
            </md-tab>

            <md-tab label="Twitter" style="width: 150px;">
                <div layout="row" layout-align="center center">
                    <div flex-xs="100"
                         flex-sm="95"
                         flex-md="85"
                         flex-gt-md="75">
                        <a class="twitter-timeline" data-chrome="nofooter noborders noheader" href="https://twitter.com/{{leader.twitterName}}"></a>
                    </div>
                </div>
            </md-tab>

            <md-tab label="Wikipedia" style="width: 150px;">
                <div class="leader-iframe-container">
                    <iframe ng-src="{{secureIframeUrl}}" ng-style="{'height': '{{iframeHeight}}px'}"></iframe>
                </div>
            </md-tab>

        </md-tabs>
    </md-dialog-content>
</md-dialog>