<div layout="row">
    <div class="content-panel"
         md-whiteframe="3"
         flex>

        <form name="emailAuthenticationForm" ng-submit="signInWithEmail()" flex>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Inicia Sesión</h2>
                </div>
            </md-toolbar>
            <div ng-class="{'visible-loader' : !submitting}"><md-progress-linear md-mode="indeterminate"></md-progress-linear></div>
            <div class="md-padding">
                <md-input-container class="md-block">
                    <md-icon
                            aria-label="email"
                            class="material-icons step">
                        email
                    </md-icon>
                    <input ng-model="user.email" name="email" type="email" placeholder="Email" ng-required="true">
                    <div ng-messages="emailAuthenticationForm.email.$error">
                        <div ng-message="required">Ingresa tu correo electronico.</div>
                        <div ng-message="email">Tu correo electronico debe tener el formato correcto.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <md-icon
                            aria-label="lock"
                            class="material-icons step">
                        lock
                    </md-icon>
                    <input ng-model="user.password" name="password" type="password" placeholder="Contraseña" ng-required="true">
                    <div ng-messages="emailAuthenticationForm.password.$error">
                        <div ng-message="required">Ingresa tu Contraseña.</div>
                    </div>
                </md-input-container>

                <div layout="row">
                    <md-button class="md-accent"
                               ng-click="createAccount()"
                               ng-disabled="submitting">
                        Crear Cuenta
                    </md-button>
                    <span flex></span>
                    <md-button type="submit"
                               class="md-primary md-raised" ng-disabled="emailAuthenticationForm.$invalid || submitting">
                        <span ng-hide="submitting">Iniciar Sesión</span>
                        <span ng-show="submitting">Procesando...</span>
                    </md-button>
                </div>
            </div>
        </form>

    </div>
</div>