

<div class="align-center" style="padding-top:55px;">
    <img src="assets/img/logo-alt.png" alt="Logo" id="logo" style="max-width: 200px; ">
</div>
<div layout="row"
     layout-align="center start"
     class="m-top-35">
    <div flex-xs="100"
         flex-sm="85"
         flex-md="60"
         flex-gt-md="40"
         class="md-padding zoomIn-animation"
         ng-show="signingIn">
        <authentication></authentication>
    </div>

    <div flex-xs="100"
         flex-sm="100"
         flex-md="80"
         flex-gt-md="60"
         class="md-padding zoomIn-animation"
         ng-show="creatingAccount">
        <account-creation></account-creation>
    </div>
</div>