<div>
    <div fxLayout="column" style="text-align: center;">
        <div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <h4 style="margin:0px;">Receive Funds</h4>
                <span fxFlex></span>
                <button md-icon-button (click)="close()"><md-icon>close</md-icon></button>
            </div>
        </div>


        <p style="font-size:14px;">Share this address with others, and they can send you AMC
            directly to your Wallet.</p>

        <div style="margin-top:15px;">
            <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
                <div fxFlex>
                    <md-input-container style="width: 100%;">
                        <input mdInput
                               placeholder="Your Wallet Address"
                               type="text" value="{{_walletService.decryptedWallet.addressString}}">
                    </md-input-container>
                </div>
            </div>
        </div>

        <div style="text-align:center;">
            <button md-raised-button
                    color="primary"
                    ngxClipboard
                    [cbContent]="'a'"
                    (cbOnSuccess)="showMessage('Your wallet address has been copied. Use Control + V to paste it.')">Copy Address</button>
        </div>

        <span style="font-size:13px;margin-top:15px;">Notice that you can also use your AMC Wallet to receive Ethers (Ethereum).</span>

    </div>
</div>

