<div flex ng-show="searching">
    <div layout="row" layout-align="center center">
        <md-button class="md-icon-button" ng-click="clearSearch()">
            <md-icon aria-label="arrow_forward" class="material-icons step">arrow_forward</md-icon>
        </md-button>
        <div style="margin-top:20px;" flex>
            <div layout="row">
                <md-input-container flex>
                    <input ng-model="query"
                           id="queryInput"
                           type="text"
                           aria-label="Search"
                           style="color:white;width:100%;">
                </md-input-container>
            </div>
        </div>
    </div>
</div>
<md-button aria-label="Search"
           class="md-icon-button"
           ng-click="startSearch()"
           ng-hide="searching">
    <md-icon aria-label="search" class="material-icons step">search</md-icon>
</md-button>