<md-button class="md-icon-button"
           ng-click="togglePost(post)"
           aria-label="star_border">
        <md-tooltip md-direction="left" class="material-tooltip" ng-if="!hasPost">Marcar como importante</md-tooltip>
        <md-tooltip md-direction="left" class="material-tooltip" ng-if="hasPost">No es importante</md-tooltip>
        <md-icon aria-label="star_border"
                 class="material-icons step"
                 ng-hide="hasPost">star_border</md-icon>
        <md-icon aria-label="star"
                 class="material-icons step"
                 ng-show="hasPost">star</md-icon>
</md-button>