<md-sidenav class="md-sidenav-left"
            md-whiteframe="7"
            md-component-id="left"
            flex>
    <md-content>
        <div layout="column">
            <md-subheader class="md-no-sticky">Principal</md-subheader>

            <md-list flex class="padding-0">
                <md-list-item ui-sref="app.dashboard">
                    <div layout="row"
                         layout-align="center center"
                         class="sidenav-item">
                        <md-icon md-svg-src="assets/icons/minoticiero/inactive.svg"
                                 ng-hide="$root.toState.name == 'app.dashboard'"></md-icon>
                        <md-icon md-svg-src="assets/icons/minoticiero/teal.svg"
                                 ng-show="$root.toState.name == 'app.dashboard'"></md-icon>
                        <p navigation-element
                           views="['app.dashboard']"
                           active="[{'addClass': ['views-active']}]">Dashboard</p>
                    </div>
                </md-list-item>

                <md-subheader class="md-no-sticky">Noticias</md-subheader>


                <md-list-item ui-sref="app.articles.all">
                    <div layout="row"
                         layout-align="center center"
                         class="sidenav-item">
                        <md-icon md-font-icon="fa-paper-plane-o"
                                 class="fa"
                                 alt="Plane"
                                 style="font-size:19px;"
                                 navigation-element
                                 views="['app.articles.all']"
                                 active="[{'addClass': ['views-active']}]"></md-icon>
                        <p navigation-element
                           views="['app.articles.all']"
                           active="[{'addClass': ['views-active']}]">Todas las Noticias</p>
                    </div>
                </md-list-item>


                <!--<md-list-item ng-click="toggleNewsSource()">
                    <div layout="row"
                         layout-align="center center"
                         class="sidenav-item">
                        <md-icon md-font-icon="fa-newspaper-o" class="fa" alt="Newspaper" style="font-size:19px;"
                                 navigation-element
                                 custom-condition="newsSourceList"
                                 active="[{'addClass': ['custom-condition']}]"></md-icon>
                        <p navigation-element
                           custom-condition="newsSourceList"
                           active="[{'addClass': ['custom-condition']}]">Fuentes de Noticias</p>
                    </div>
                </md-list-item>


                <md-list-item ng-repeat="source in sourcesArray.items"
                              ui-sref="app.posts.sourcePosts({sourceId: source.$id})"
                              ng-show="newsSourceList"
                              aria-label="{{source.name}}">
                    <div layout="row"
                         layout-align="center center"
                         flex
                         class="sidenav-item m-left-25"
                         style="padding-right:0px;">
                        <img ng-src="{{source.fileUrl}}" class="media-small margin-0" alt="{{source.name}}" />
                        <p navigation-element
                           views="['app.posts.sourcePosts', 'app.posts.sourcePosts.category']"
                           custom-condition="$root.toStateParams.sourceId == source.$id"
                           active="[{'addClass': ['views-active', 'custom-condition']}]">{{source.name}}</p>
                        <span flex></span>
                        <div style="max-height:30px;position:absolute;top:-5px;right:2px;">
                            <ignore-switch source="source" class="margin-0"></ignore-switch>
                        </div>
                    </div>
                </md-list-item>
                <md-divider ng-show="newsSourceList"></md-divider>


                <md-list-item ui-sref="app.posts.myAssignments">
                    <div layout="row"
                         layout-align="center center"
                         class="sidenav-item">
                        <md-icon aria-label="assignment_ind"
                                 navigation-element
                                 views="['app.posts.myAssignments']"
                                 active="[{'addClass': ['views-active']}]"
                                 class="material-icons">assignment_ind</md-icon>
                        <p navigation-element
                           views="['app.posts.myAssignments']"
                           active="[{'addClass': ['views-active']}]">Mis Asignaciones</p>
                    </div>
                </md-list-item>

                <md-list-item ui-sref="app.posts.allAssignments">
                    <div layout="row"
                         layout-align="center center"
                         class="sidenav-item" flex>
                        <md-icon aria-label="assignment"
                                 navigation-element
                                 views="['app.posts.allAssignments']"
                                 active="[{'addClass': ['views-active']}]"
                                 class="material-icons">assignment</md-icon>
                        <p navigation-element
                           views="['app.posts.allAssignments']"
                           active="[{'addClass': ['views-active']}]">Todas las Asignaciones</p>
                        <span flex></span>
                        <div class="badge bg-teal">{{$root.activeTasksAtomicArray.items.length}}</div>
                    </div>
                </md-list-item>-->


                <md-subheader class="md-no-sticky">Content Extraction Engine</md-subheader>

                <md-list-item ui-sref="app.orion" >
                    <div layout="row"
                         layout-align="center center"
                         class="sidenav-item">
                        <md-icon aria-label="android"
                                 navigation-element
                                 views="['app.orion']"
                                 active="[{'addClass': ['views-active']}]"
                                 class="material-icons">android</md-icon>
                        <p navigation-element
                           views="['app.orion']"
                           active="[{'addClass': ['views-active']}]">Orion Tasks</p>
                    </div>
                </md-list-item>


                <md-subheader class="md-no-sticky">Seguridad</md-subheader>

                <md-list-item ui-sref="app.security.users">
                    <div layout="row"
                         layout-align="center center"
                         class="sidenav-item">
                        <md-icon aria-label="people"
                                 navigation-element
                                 views="['app.security.users']"
                                 active="[{'addClass': ['views-active']}]"
                                 class="material-icons">people</md-icon>
                        <p navigation-element
                           views="['app.security.users']"
                           active="[{'addClass': ['views-active']}]">Usuarios</p>
                    </div>
                </md-list-item>

                <md-list-item ui-sref="app.security.sections">
                    <div layout="row"
                         layout-align="center center"
                         class="sidenav-item">
                        <md-icon aria-label="format_list_bulleted"
                                 navigation-element
                                 views="['app.security.sections']"
                                 active="[{'addClass': ['views-active']}]"
                                 class="material-icons">format_list_bulleted</md-icon>
                        <p navigation-element
                           views="['app.security.sections']"
                           active="[{'addClass': ['views-active']}]">Secciones</p>
                    </div>
                </md-list-item>

                <md-list-item ui-sref="app.security.apiKeys">
                    <div layout="row"
                         layout-align="center center"
                         class="sidenav-item">
                        <md-icon aria-label="vpn_key"
                                 navigation-element
                                 views="['app.security.apiKeys']"
                                 active="[{'addClass': ['views-active']}]"
                                 class="material-icons">vpn_key</md-icon>
                        <p navigation-element
                           views="['app.security.apiKeys']"
                           active="[{'addClass': ['views-active']}]">API Keys</p>
                    </div>
                </md-list-item>


                <md-subheader class="md-no-sticky">Configuración</md-subheader>

                <md-list-item ui-sref="app.sourceManager">
                    <div layout="row"
                         layout-align="center center"
                         class="sidenav-item">
                        <md-icon md-font-icon="fa-newspaper-o" class="fa" alt="Newspaper" style="font-size:19px;"
                                 navigation-element
                                 views="['app.sourceManager']"
                                 active="[{'addClass': ['views-active']}]"></md-icon>
                        <p navigation-element
                           views="['app.sourceManager']"
                           active="[{'addClass': ['views-active']}]">Manejador de Fuentes</p>
                    </div>
                </md-list-item>



                <md-list-item ui-sref="app.categories">
                    <div layout="row"
                         layout-align="center center"
                         class="sidenav-item">
                        <md-icon aria-label="view_list"
                                 navigation-element
                                 views="['app.categories']"
                                 active="[{'addClass': ['views-active']}]"
                                 class="material-icons">view_list</md-icon>
                        <p navigation-element
                           views="['app.categories']"
                           active="[{'addClass': ['views-active']}]">Categorías</p>
                    </div>
                </md-list-item>

            </md-list>
        </div>
    </md-content>
</md-sidenav>


