<md-list-item ng-repeat="source in items"
              ui-sref="app.sourcePosts({sourceId: source.$id})"
              ui-sref-active="active"
              ng-click="null"
              aria-label="{{source.name}}"
                class="slideInLeft-animation">
    <div flex>
        <div layout="row" layout-align="center center" flex>
            <img ng-src="{{source.fileUrl}}" class="news-avatar" alt="{{source.name}}" />
            <h3 class="md-subhead">{{ source.name }}</h3>
            <span flex></span>
            <ignore-switch source="source"></ignore-switch>
        </div>
    </div>
</md-list-item>