<div class="zoomIn-animation">
    <md-list-item class="md-2-line"  ng-click="toggleSourceNav()" ng-class="{ 'active': sourceExpanded}">
        <div layout="row" layout-align="center center" flex>
            <md-icon md-font-icon="fa-binoculars" class="fa" alt="Newspaper" style="font-size:19px;"></md-icon>
            <div class="md-list-item-text"><h3 style="margin-left:10px;">Medios Digitales</h3></div>
            <span flex></span>
            <md-icon aria-label="keyboard_arrow_up" class="material-icons step" ng-show="sourceExpanded">keyboard_arrow_up</md-icon>
            <md-icon aria-label="keyboard_arrow_down" class="material-icons step" ng-hide="sourceExpanded">keyboard_arrow_down</md-icon>
        </div>
    </md-list-item>
    <md-divider ></md-divider>

    <div ng-show="sourceExpanded" class="slideInLeft-animation">
        <load-more-wrapper config="config"></load-more-wrapper>
    </div>


    <md-divider ng-show="sourceExpanded"></md-divider>
</div>
