<md-menu-bar style="padding:0px;">
    <md-menu md-position-mode="target-right target">
        <md-button aria-label="Configuración" class="md-icon-button" ng-click="$mdOpenMenu()">
            <md-tooltip md-direction="left" class="material-tooltip">Configuración</md-tooltip>
            <md-icon aria-label="settings" class="material-icons step">settings</md-icon>
        </md-button>
        <md-menu-content>

            <md-menu-item>
                <md-button ng-click="showThemeSheet()">
                    <md-icon aria-label="color_lens" class="material-icons step">color_lens</md-icon>
                    Color
                </md-button>
            </md-menu-item>
            <md-divider class="md-menu-divider"></md-divider>

            <md-menu-item>
                <md-button ng-click="showSizeSheet()">
                    <md-icon aria-label="flip_to_front" class="material-icons step">flip_to_front</md-icon>
                    Tamaño
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-menu-bar>