<md-card>
    <md-card-content>
        <h3>Access my Wallet</h3>

        <md-tab-group>
            <md-tab label="Wallet File + Password">
                <div fxLayout="column">
                    <h5>Wallet File + Password</h5>


                    <div fxFlex>
                        <div fxLayout="row" fxLayoutAlign="end center" fxflex>
                            <div fxFlex>
                                <input id="file" type="file" name="file" (change)="walletFileChanged($event)"
                                       style="width:100%;"/>
                            </div>
                            <div fxFlex>
                                <md-input-container fxFlex>
                                    <input mdInput
                                           placeholder="Enter your password"
                                           type="password"
                                           [(ngModel)]="password"
                                           id="password-field">
                                    <button md-icon-button mdSuffix (click)="toggleVisibility()"><md-icon>remove_red_eye</md-icon></button>
                                </md-input-container>
                            </div>
                        </div>
                    </div>

                    <div style="margin-top:25px;">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <span fxFlex></span>
                            <button md-raised-button
                                    color="primary"
                                    (click)="decryptWithFile()"
                                    [disabled]="!walletFileSelected || !password">
                                Access Wallet
                            </button>
                        </div>
                    </div>
                </div>
            </md-tab>
            <md-tab label="Private Key">
                <div fxLayout="column">
                    <h5>Private Key</h5>

                    <md-input-container>
                        <input mdInput
                               placeholder="Enter your Private Key"
                               type="text"
                               [(ngModel)]="privateKey">
                    </md-input-container>

                    <div style="margin-top:25px;">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <span fxFlex></span>
                            <button md-raised-button
                                    color="primary"
                                    (click)="decryptWithPrivateKey()">
                                Access Wallet
                            </button>
                        </div>
                    </div>
                </div>
            </md-tab>
        </md-tab-group>



        <div style="margin-top:50px;">
            <div fxLayout="row" fxLayoutAlign="center center">
                <p>I don't own an AmericanCoin Wallet</p>
                <span fxFlex></span>
                <button md-button
                        color="primary"
                        (click)="goto('creation')">
                    Create New Wallet
                </button>
            </div>
        </div>
    </md-card-content>
</md-card>