<div>
    <h2 style="text-align:center;">Access your Wallet</h2>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center center">

        <div fxFlex="60" fxFlex.xs="100" fxFlex.sm="100">
            <md-card style="margin:10px;">
                <md-card-content style="text-align:center;">
                    <h5>With Wallet File + Password</h5>

                    <div fxLayout="column">
                        <div >
                            <!--<input id="file" type="file" name="file" (change)="walletFileChanged($event)"
                                   style="width:100%;"/>-->
                            <label for="file-upload" class="custom-file-upload" style="width:100%;">
                                <div>
                                    <div fxLayout="row" fxLayoutAlign="center center">
                                        <md-icon style="margin:5px;">attach_file</md-icon>
                                        <span *ngIf="!walletFileSelected">Select Wallet File</span>
                                        <span *ngIf="walletFileSelected">{{walletFile.name}}</span>
                                    </div>
                                </div>
                            </label>
                            <input id="file-upload" type="file" name="file" (change)="walletFileChanged($event)"/>
                        </div>
                        <div style="margin-top:15px;">
                            <md-input-container fxFlex>
                                <input mdInput
                                       placeholder="Enter your password"
                                       type="password"
                                       [(ngModel)]="password"
                                       id="passwordFieldAuthenticate">
                                <button md-icon-button mdSuffix (click)="toggleVisibility()"><md-icon>remove_red_eye</md-icon></button>
                            </md-input-container>
                        </div>

                        <div style="margin-top:25px;">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <span fxFlex></span>
                                <button md-raised-button
                                        color="primary"
                                        (click)="decryptWithFile()"
                                        [disabled]="!walletFileSelected || !password">
                                    Access Wallet
                                </button>
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>

        <h2>or</h2>

        <div fxFlex="40" fxFlex.xs="100" fxFlex.sm="100">
            <md-card style="margin:10px;">
                <md-card-content style="text-align:center;">
                    <h5>With Private Key</h5>

                    <div fxLayout="column">
                        <md-input-container>
                            <input mdInput
                                   placeholder="Enter your Private Key"
                                   type="text"
                                   [(ngModel)]="privateKey">
                        </md-input-container>

                        <div style="margin-top:25px;">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <span fxFlex></span>
                                <button md-raised-button
                                        color="primary"
                                        [disabled]="!privateKey"
                                        (click)="decryptWithPrivateKey()">
                                    Access Wallet
                                </button>
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>