<app-paper-wallet [walletData]="decryptedWallet" class="print-area"></app-paper-wallet>


<div>
    <div fxLayout="column">
        <div class="dashboard-header">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayout.xs="column" fxLayout.sm="column">
                <div fxFlex>
                    <div>
                        <div fxLayout="column">
                            <h3>Be Your Own Bank</h3>
                            <div>
                                <button md-raised-button (click)="sendFunds()">
                                    <md-icon>file_upload</md-icon> Send
                                </button>
                                <button md-raised-button (click)="receiveFunds()">
                                    <md-icon>file_download</md-icon> Receive
                                </button>
                                <button md-icon-button
                                        ngxClipboard
                                        mdTooltip="Copy your Address"
                                        [mdTooltipPosition]="'after'"
                                        [cbContent]="decryptedWallet.addressString"
                                        (cbOnSuccess)="showMessage('Your wallet address has been copied. Use Control + V to paste it.')">
                                    <md-icon>content_copy</md-icon>
                                </button>
                                <input type="hidden" value="{{decryptedWallet.addressString}}" #inputTarget>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div fxLayout="column" style="text-align:center;">
                        <!--<h5 class="balance-big">500.00 AMC</h5>-->
                        <h5 class="balance-big">{{decryptedWallet.balance}} AMC</h5>
                        <span>My Balance</span>
                    </div>
                </div>
            </div>
        </div>


        <hr>

        <div class="dashboard-content">
            <div>
                <div fxLayout="column">

                    <div fxFlex>
                        <div fxLayout="row"
                             fxLayout.xs="column"
                             fxLayout.sm="column"
                             fxLayoutAlign="center center">
                            <div fxflex>

                            </div>

                        </div>

                    </div>


                    <div fxFlex="70" fxFlex.xs="100" fxFlex.sm="100">

                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
                <div fxFlex>
                    <h4>My Transactions</h4>
                    <div fxLayout="column">
                        <app-transactions></app-transactions>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>