<md-dialog
        aria-label="Post"
        flex-xs="100"
        flex-sm="100"
        flex-gt-sm="75"
        flex-md="70"
        flex-gt-md="65"
        style="overflow-y: hidden;">
    <div class="margin-0" md-whiteframe="7" style="z-index:5;height:70px;">
        <div layout="row" layout-align="center center" class="margin-5">
            <div layout="row"
                 layout-align="start start"
                 ng-click="loadSource()"
                 class="no-outline post-header-source">
                <img ng-src="{{post.source.fileUrl}}" style="max-width: 60px;height: 60px;">
                <div layout="column" class="margin-10">
                    <span class="md-title">{{post.source.name}}</span>
                    <div>
                        <md-tooltip md-direction="top" class="material-tooltip">{{post.eventDate | amDateFormat:'dddd, Do MMMM YYYY'}}</md-tooltip>
                        <span class="md-subhead" am-time-ago="post.eventDate"></span>
                    </div>
                </div>
                <div class="margin-10" ng-show="post.newItem"><div class="badge bg-{{$root.userInfo.preferences.theme}}">NUEVO</div></div>
            </div>

            <span flex></span>

            <bookmark-post-element post="post"></bookmark-post-element>

            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-tooltip md-direction="left" class="material-tooltip">Cerrar</md-tooltip>
                <md-icon aria-label="close" class="material-icons step color-{{$root.userInfo.preferences.theme}}">close</md-icon>
            </md-button>
        </div>
    </div>

    <md-dialog-content>
        <div class="md-dialog-content content-container">
            <div layout="row" layout-align="center center" flex>
                <div layout="column">
                    <img ng-src="{{post.image}}" alt="{{post.title}}"
                         ng-if="post.source.postConfig.imageOnPost && post.image">
                </div>
            </div>
            <div layout="column">
                <h3 class="headline" style="margin:15px 0px 10px 0px;"
                    ng-if="post.source.postConfig.titleOnPost && post.title">{{post.title}}</h3>
                <div ng-bind-html="htmlContent"></div>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions
            layout="row"
            layout-align="center center"
            ng-show="post.primaryHashtag || post.leaders"
            style="padding:0px;z-index:5">
        <div flex>
            <post-hashtags post="post"></post-hashtags>
        </div>
        <div flex="30" ng-show="post.leaders">
            <post-leaders post="post"></post-leaders>
        </div>
    </md-dialog-actions>
</md-dialog>


