<md-toolbar md-whiteframe="6">
    <div class="md-toolbar-tools">
        <div layout="row" layout-align="center center" flex>
            <md-icon aria-label="vpn_key" class="material-icons">vpn_key</md-icon> &nbsp;
            <h2>Seguridad.API Keys</h2>
            <span flex></span>
            <md-button aria-label="Editar" class="md-icon-button" ng-click="saveKeys()" ng-disabled="submitting">
                <md-icon aria-label="save" class="material-icons step">save</md-icon>
            </md-button>
        </div>
    </div>
</md-toolbar>

<loader show="!loaded" top="120"></loader>
<div layout="row"
     layout-align="center center"
     class="margin-25">
    <div class="content-panel"
         flex-xs="100"
         flex-sm="100"
         flex-md="80"
         flex-gt-md="66"
         md-whiteframe="5"
         animation="'entrance'"
         in="'zoomIn'"
         out="'zoomOut'"
         trigger="loaded">

        <div>
            <table class="bordered highlight responsive-table">
                <tbody>
                <tr>
                    <td>Facebook API</td>
                    <td>
                        <table>
                            <tbody>
                            <tr>
                                <td><strong>App ID</strong></td>
                                <td>
                                    <md-input-container class="md-block margin-0" style="margin-top:25px;" flex>
                                        <input ng-model="$root.apiKeysObject.item.facebookApi.appId"
                                               type="text"
                                               placeholder="App ID">
                                    </md-input-container>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>Open Graph IO API</td>
                    <td>
                        <table>
                            <tbody>
                            <tr>
                                <td><strong>App ID</strong></td>
                                <td>
                                    <md-input-container class="md-block margin-0" style="margin-top:25px;" flex>
                                        <input ng-model="$root.apiKeysObject.item.ogioApi.appId"
                                               type="text"
                                               placeholder="App ID">
                                    </md-input-container>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>Article Extractor</td>
                    <td>
                        <table>
                            <tbody>
                            <tr>
                                <td><strong>Key</strong></td>
                                <td>
                                    <md-input-container class="md-block margin-0" style="margin-top:25px;" flex>
                                        <input ng-model="$root.apiKeysObject.item.articleExtractor.key"
                                               type="text"
                                               placeholder="Key">
                                    </md-input-container>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>URL</strong></td>
                                <td>
                                    <md-input-container class="md-block margin-0" style="margin-top:25px;" flex>
                                        <input ng-model="$root.apiKeysObject.item.articleExtractor.url"
                                               type="text"
                                               placeholder="URL">
                                    </md-input-container>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>Category URLs Extractor</td>
                    <td>
                        <table>
                            <tbody>
                            <tr>
                                <td><strong>Key</strong></td>
                                <td>
                                    <md-input-container class="md-block margin-0" style="margin-top:25px;" flex>
                                        <input ng-model="$root.apiKeysObject.item.categoryUrlsExtractor.key"
                                               type="text"
                                               placeholder="Key">
                                    </md-input-container>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>URL</strong></td>
                                <td>
                                    <md-input-container class="md-block margin-0" style="margin-top:25px;" flex>
                                        <input ng-model="$root.apiKeysObject.item.categoryUrlsExtractor.url"
                                               type="text"
                                               placeholder="URL">
                                    </md-input-container>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>