<md-dialog
        aria-label="Hashtags"
        flex-xs="100"
        flex-sm="100"
        flex-gt-sm="95"
        flex-md="85"
        flex-gt-md="70"
        style="height: 100%;">

    <div md-whiteframe="8" style="z-index: 5;">
        <div layout="row" layout-align="center center">
            <div ng-click="test()" layout="row" layout-align="center center" class="post-header-source">
                <img ng-src="assets/icons/hashtag_themes/{{$root.userInfo.preferences.theme}}.png" style="max-width: 40px;height: 40px;margin-left:15px;">
                <h4 class="md-title m-left-5">{{hashtag.name}}</h4>
                <trending-hashtag last-post="hashtag.lastPost"></trending-hashtag></span>
            </div>

            <span flex></span>

            <user-hashtag-element hashtag="hashtag"></user-hashtag-element>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon aria-label="close" class="material-icons step">close</md-icon>
            </md-button>
        </div>
    </div>

    <md-dialog-content style="height: 100%;" class="dialog-content-scroll">
        <infinite-scroll-wrapper config="config"></infinite-scroll-wrapper>
    </md-dialog-content>
</md-dialog>