<md-toolbar md-whiteframe="6">
    <div class="md-toolbar-tools">
        <div layout="row" layout-align="center start">
            <md-icon aria-label="android" class="material-icons">android</md-icon> &nbsp;
            <h2>Orion Tasks</h2>
        </div>
    </div>
</md-toolbar>


<div layout="row" layout-align="center start" flex>

    <div flex>
        <orion-active-tasks></orion-active-tasks>
    </div>

    <div flex>
        <orion-completed-tasks></orion-completed-tasks>
    </div>

    <div>
        <orion-rejected-tasks></orion-rejected-tasks>
    </div>
</div>