
<div layout="column" flex>
    <md-list class="md-dense">

        <md-list-item class="md-3-line"
                      style="margin: 10px 0 0 0;"
                      ng-repeat="task in $root.rejectedTasksAtomicArray.items"
                      ng-click="taskInformation(task)"
                      md-whiteframe="6">
            <md-icon aria-label="cancel" class="material-icons">cancel</md-icon>
            <div class="md-list-item-text" layout="column">
                <h3 style="font-size:13px;">{{ task.articleUrl }}</h3>
                <h4 style="font-size:13px;">{{ task.categoryUrl }}</h4>

                <div>
                    <span class="md-subhead" am-time-ago="task.creationTS"></span>
                </div>
            </div>
        </md-list-item>
    </md-list>
</div>