
.animation-container.ng-enter {
    animation: fadeIn 1s;
}

.animation-container.ng-leave {
    animation: fadeOut 0s;
}

/*.dynamic-grid.ng-enter {
    animation: zoomIn 0.5s;
}

.dynamic-grid.ng-leave {
    animation: zoomOut 0.5s;
}*/


.fade-animation.ng-hide-add {
    animation: fadeOut 0s;
}
.fade-animation.ng-hide-remove {
    animation: fadeIn 1s;
}

.fadeIn-animation.ng-hide-remove {
    animation: fadeIn 1s;
}

.fadeInLeft-animation.ng-hide-remove {
    animation: fadeInLeft 0.7s;
}

.slide-animation .ng-hide-remove{
    animation: slideInUp 0.5s;
}



.slideInLeft-animation.ng-hide-remove, .slideInLeft-animation.ng-enter{
    animation: slideInLeft 0.5s;
}



.zoomIn-animation.ng-hide-remove, .zoomIn-animation.ng-enter{
    animation: zoomIn 0.6s;
}

/*.zoom-animation .ng-hide-add, .zoom-animation.ng-leave{
    animation: zoomOut 0.5s;
}*/
.zoom-animation .ng-hide-remove, .zoom-animation.ng-enter{
    animation: zoomIn 0.5s;
}