
.animation-container.ng-enter {
    animation: fadeIn 1s;
}

.animation-container.ng-leave {
    animation: fadeOut 0s;
}

/*.dynamic-grid.ng-enter {
    animation: zoomIn 0.5s;
}

.dynamic-grid.ng-leave {
    animation: zoomOut 0.5s;
}*/


.fade-animation.ng-hide-add,.fade-animation.ng-leave {
    animation: fadeOut 0.5s;
}
.fade-animation.ng-hide-remove,.fade-animation.ng-enter {
    animation: fadeIn 0.5s;
}

.fadeIn-animation.ng-hide-remove {
    animation: fadeIn 1s;
}

.fadeInLeft-animation.ng-hide-remove {
    animation: fadeInLeft 0.7s;
}

.slide-animation .ng-hide-remove{
    animation: slideInUp 0.5s;
}



.slideInLeft-animation.ng-hide-remove, .slideInLeft-animation.ng-enter{
    animation: slideInLeft 0.5s;
}



.zoomIn-animation.ng-hide-remove, .zoomIn-animation.ng-enter{
    animation: zoomIn 0.6s;
}

.slideInUp-animation.ng-hide-remove, .slideInUp-animation.ng-enter{
    animation: slideInUp 0.6s;
}

/*slideInOutRight*/
.slideInOutRight-animation.ng-hide-add, .slideInOutRight-animation.ng-leave{
    animation: slideInRight 0.5s;
}
.slideInOutRight-animation.ng-hide-remove, .slideInOutRight-animation.ng-enter{
    animation: slideInRight 0.6s;
}

/*zoomInLeft*/
.zoomInLeft-animation.ng-hide-remove, .zoomInLeft-animation.ng-enter{
    animation: zoomInLeft 0.6s;
}

/*bounceIn*/
.bounceIn-animation.ng-hide-remove, .bounceIn-animation.ng-enter{
    animation: bounceIn 0.6s;
}

.zoomInOut-animation.ng-hide-add, .zoomInOut-animation.ng-leave{
    animation: zoomOut 0.5s;
}
.zoomInOut-animation.ng-hide-remove, .zoomInOut-animation.ng-enter{
    animation: zoomIn 0.5s;
}

/*.zoom-animation .ng-hide-add, .zoom-animation.ng-leave{
    animation: zoomOut 0.5s;
}*/
.zoom-animation .ng-hide-remove, .zoom-animation.ng-enter{
    animation: zoomIn 0.5s;
}


