<div class="wallet-container">
    <div>
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
            <div fxFlex>
                <app-create></app-create>
            </div>

            <div fxFlex>
                <md-card>
                    <md-card-header>
                        <h3>Open your Wallet</h3>
                    </md-card-header>
                    <md-card-content>

                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>