<md-toolbar class="page-header">
    <div fxFlex>
        <div fxLayout="row" fxLayoutAlign="start center">
            <img src="assets/images/logo.png" alt="logo">
            <h3>AmericanCoin</h3>

            <span fxFlex></span>

            <div fxShow.xs="false" *ngIf="walletState === 'creation' || walletState === 'authentication'">
                <button md-button
                        (click)="goto('creation')"
                        [disabled]="walletState === 'creation'">
                    <md-icon>library_add</md-icon>
                    Create Wallet
                </button>

                <button md-button (click)="goto('authentication')" [disabled]="walletState === 'authentication'">
                    <md-icon>exit_to_app</md-icon>
                    Access Wallet
                </button>

                <button md-button (click)="openUrl('https://etherscan.io/token/AmericanCoin')">
                    <md-icon style="font-size:21px;margin-right:4px;" fontSet="fa" fontIcon="fa-cubes"></md-icon>
                    Blockchain Explorer
                </button>
            </div>

            <button md-button *ngIf="walletState === 'dashboard'">
                <md-icon>close</md-icon> Close Wallet
            </button>
        </div>
    </div>
</md-toolbar>

<div class="wallet-container">
    <div fxFlex="100" [@creationPanel]="creation" [hidden]="creation !== 'enabled'">
        <app-create></app-create>
    </div>

    <div fxFlex="100" [@authenticationPanel]="authentication" [hidden]="authentication !== 'enabled'">
        <app-authentication></app-authentication>
    </div>

    <div fxFlex="100" [@dashboardPanel]="dashboard" [hidden]="dashboard !== 'enabled'">
        <app-dashboard></app-dashboard>
    </div>
</div>