<md-card md-whiteframe="4">
    <md-card-header>
        <md-card-avatar class="no-outline" ng-click="displayHashtagFeed($event, hashtag)">
            <img ng-src="assets/img/hashtag_themes/{{$root.userInfo.preferences.theme}}.png" alt="{{hashtag.name}}"/>
        </md-card-avatar>
        <md-card-header-text class="no-outline" ng-click="displayHashtagFeed($event, hashtag)">
            <span class="md-title">{{hashtag.name}} <trending-hashtag last-post="hashtag.lastPost"></trending-hashtag></span>
            <div>
                <span class="md-subhead">{{hashtag.description}}</span>
            </div>
        </md-card-header-text>
        <bookmark-hashtag-element hashtag="hashtag"></bookmark-hashtag-element>
    </md-card-header>

    <md-card-title class="padding-0">
        <md-card-title-text>
            <hashtag-posts hashtag="hashtag"></hashtag-posts>
        </md-card-title-text>
        <md-card-title-media>
            <div ng-style="{'background-image': 'url({{hashtag.fileUrl}})'}"
                 ng-click="displayHashtagFeed($event, hashtag)"
                 class="hashtag-bg no-outline">
            </div>
        </md-card-title-media>
    </md-card-title>

</md-card>