
<div class="md-padding">
    <div md-whiteframe="6">
        <div layout="column" class="md-padding">
            <div layout="row" flex>
                <h3 class="md-headline margin-0">Extracción</h3>
                <span flex></span>
                <md-button aria-label="Save" class="md-icon-button" ng-click="save()">
                    <md-icon aria-label="save" class="material-icons step">save</md-icon>
                </md-button>
            </div>
            <md-divider></md-divider>

            <h3 class="md-headline">Open Graph</h3>

            <p class="md-title m-top-0 m-bot-0">Título</p>

            <div layout="row" layout-align="center center" flex>
                <div flex>
                    <md-input-container>
                        <label>Primario</label>
                        <md-select ng-model="atomicObject.item.openGraph.title.primary">
                            <md-option ng-value="false">Ninguno</md-option>
                            <md-option ng-repeat="(key, value) in extractionTypes"
                                       ng-value="value">
                                {{value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex>
                    <md-input-container>
                        <label>Secundario</label>
                        <md-select ng-model="atomicObject.item.openGraph.title.secundary">
                            <md-option ng-value="false">Ninguno</md-option>
                            <md-option ng-repeat="(key, value) in extractionTypes"
                                       ng-value="value">
                                {{value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex>
                    <md-input-container>
                        <label>Terciario</label>
                        <md-select ng-model="atomicObject.item.openGraph.title.terciary">
                            <md-option ng-value="false">Ninguno</md-option>
                            <md-option ng-repeat="(key, value) in extractionTypes"
                                       ng-value="value">
                                {{value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex>
                    <md-input-container>
                        <label>Cuaternario</label>
                        <md-select ng-model="atomicObject.item.openGraph.title.quaternary">
                            <md-option ng-value="false">Ninguno</md-option>
                            <md-option ng-repeat="(key, value) in extractionTypes"
                                       ng-value="value">
                                {{value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>



            <p class="md-title m-top-0 m-bot-0">Descripción</p>

            <div layout="row" layout-align="center center">
                <div flex>
                    <md-input-container>
                        <label>Primario</label>
                        <md-select ng-model="atomicObject.item.openGraph.description.primary">
                            <md-option ng-value="false">Ninguno</md-option>
                            <md-option ng-repeat="(key, value) in extractionTypes"
                                       ng-value="value">
                                {{value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex>
                    <md-input-container>
                        <label>Secundario</label>
                        <md-select ng-model="atomicObject.item.openGraph.description.secundary">
                            <md-option ng-value="false">Ninguno</md-option>
                            <md-option ng-repeat="(key, value) in extractionTypes"
                                       ng-value="value">
                                {{value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex>
                    <md-input-container>
                        <label>Terciario</label>
                        <md-select ng-model="atomicObject.item.openGraph.description.terciary">
                            <md-option ng-value="false">Ninguno</md-option>
                            <md-option ng-repeat="(key, value) in extractionTypes"
                                       ng-value="value">
                                {{value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex>
                    <md-input-container>
                        <label>Cuaternario</label>
                        <md-select ng-model="atomicObject.item.openGraph.description.quaternary">
                            <md-option ng-value="false">Ninguno</md-option>
                            <md-option ng-repeat="(key, value) in extractionTypes"
                                       ng-value="value">
                                {{value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>




            <p class="md-title m-top-0 m-bot-0">Imagen</p>

            <div layout="row" layout-align="center center">
                <div flex>
                    <md-input-container>
                        <label>Primario</label>
                        <md-select ng-model="atomicObject.item.openGraph.image.primary">
                            <md-option ng-value="false">Ninguno</md-option>
                            <md-option ng-repeat="(key, value) in extractionTypes"
                                       ng-value="value">
                                {{value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex>
                    <md-input-container>
                        <label>Secundario</label>
                        <md-select ng-model="atomicObject.item.openGraph.image.secundary">
                            <md-option ng-value="false">Ninguno</md-option>
                            <md-option ng-repeat="(key, value) in extractionTypes"
                                       ng-value="value">
                                {{value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex>
                    <md-input-container>
                        <label>Terciario</label>
                        <md-select ng-model="atomicObject.item.openGraph.image.terciary">
                            <md-option ng-value="false">Ninguno</md-option>
                            <md-option ng-repeat="(key, value) in extractionTypes"
                                       ng-value="value">
                                {{value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex>
                    <md-input-container>
                        <label>Cuaternario</label>
                        <md-select ng-model="atomicObject.item.openGraph.image.quaternary">
                            <md-option ng-value="false">Ninguno</md-option>
                            <md-option ng-repeat="(key, value) in extractionTypes"
                                       ng-value="value">
                                {{value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>


            <h3 class="md-headline">Artículos</h3>

            <div layout="row">
                <md-input-container class="md-block" flex>
                    <input ng-model="atomicObject.item.article.parentSelector" type="text" placeholder="Parent Selector">
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <input ng-model="atomicObject.item.article.childSelector" type="text" placeholder="Child Selector">
                </md-input-container>
            </div>


            <h3 class="md-headline">URLs</h3>

            <div layout="row">
                <md-input-container class="md-block" flex>
                    <input ng-model="atomicObject.item.categoryUrls.parentSelector" type="text" placeholder="Parent Selector">
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <input ng-model="atomicObject.item.categoryUrls.childSelector" type="text" placeholder="Child Selector">
                </md-input-container>
            </div>
        </div>
    </div>
</div>