<div *ngIf="decryptedWallet">
  <md-card class="example-card">
<!-- Change length to the array expression. -->
  <md-paginator [length]="len" 
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="onPageEvent($event)">
  </md-paginator> 
  </md-card>
  <md-card  class="example-card">
    <table>
      <tr>
        <th>Hash</th>
        <th>Amount</th>
        <th>From</th>
        <th>To</th>
        <th>Status</th>
      </tr>
      <tr *ngFor="let tx of trxArray">
        <td><span mdTooltip="{{tx.$key}}" [mdTooltipPosition]="position">{{tx.$key.slice(0,10)}}...</span></td>
        <td>{{tx.amount | number:'1.2'}}</td>
        <td><span mdTooltip="{{tx.from}}" [mdTooltipPosition]="position">{{tx.from.slice(0,10)}}...</span></td>
        <td><span mdTooltip="{{tx.to}}" [mdTooltipPosition]="position">{{tx.to.slice(0,10)}}...</span></td>
        <td>{{tx.status}}</td>
      </tr>
    </table>
  </md-card> 
</div>