<div *ngIf="decryptedWallet">
  <md-card class="example-card">
    <table>
      <tr>
        <th>Hash</th>
        <th>Amount</th>
        <th>From</th>
        <th>To</th>
        <th>Status</th>
      </tr>
    </table>
  </md-card>
  <md-card *ngFor="let tx of trxArray" class="example-card">
    <table>
      <tr>
        <td>{{tx.$key}}</td>
        <td>{{tx.amount}}</td>
        <td>{{tx.from}}</td>
        <td>{{tx.to}}</td>
        <td>{{tx.status}}</td>
      </tr>
    </table>
  </md-card> 
  <md-paginator [length]="100"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="onPageEvent($event)">
  </md-paginator> 
</div>