<md-dialog
        aria-label="Post"
        flex-xs="100"
        flex-sm="100"
        flex-gt-sm="75"
        flex-md="70"
        flex-gt-md="65"
        style="overflow-y: hidden;">
    <div class="margin-0" md-whiteframe="8" style="z-index:5;height:80px;">
        <div layout="row" layout-align="center center" class="margin-5">
            <div ng-click="test()" layout="row" class="post-header-source">
                <img ng-src="{{postObject.source.fileUrl}}" style="max-width: 60px;height: 60px;">
                <div layout="column" class="margin-10">
                    <h3 class="md-title margin-0">{{postObject.source.name}}</h3>
                    <p class="margin-0" am-time-ago="postObject.eventDate"></p>
                </div>

            </div>

            <span flex></span>

            <user-post-element post="postObject"></user-post-element>

            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-tooltip md-direction="left" class="material-tooltip">Cerrar</md-tooltip>
                <md-icon aria-label="close" class="material-icons step">close</md-icon>
            </md-button>
        </div>
    </div>

    <md-dialog-content>
        <div class="md-dialog-content content-container">
            <div layout="row" layout-align="center center" flex>
                <div layout="column">
                    <img ng-src="{{postObject.image}}" alt="{{postObject.title}}"
                         ng-if="postObject.source.postConfig.imageOnPost && postObject.image">
                </div>
            </div>
            <div layout="column">
                <h3 class="headline" style="margin:15px 0px 10px 0px;"
                    ng-if="postObject.source.postConfig.titleOnPost && postObject.title">{{postObject.title}}</h3>
                <div ng-bind-html="htmlContent"></div>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions
            layout="row"
            layout-align="center center"
            ng-show="postObject.primaryHashtag || postObject.leaders"
            style="padding:0px;z-index:5">
        <div flex="70">
            <post-hashtags post="postObject"></post-hashtags>
        </div>
        <div flex="30">
            <post-leaders post="postObject"></post-leaders>
        </div>
    </md-dialog-actions>
</md-dialog>


