<md-toolbar class="md-hue-1"
            md-whiteframe="5"
            style="margin:0px;"
            md-theme="{{$root.userInfo.preferences.theme}}"
            md-theme-watch="true">
    <div class="md-toolbar-tools">
        <md-icon md-svg-src="assets/icons/minoticiero/white.svg" style="width: 30px;height:30px;"></md-icon>
        <h2 style="margin-left:5px;">
            <span>Mi Noticiero</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button"
                   ng-click="toggle()"
                   aria-label="bookmark">
            <md-tooltip md-direction="left" class="material-tooltip">Agregar Sección</md-tooltip>
            <md-icon aria-label="add"
                     class="material-icons step">add</md-icon>
        </md-button>
        <preferences></preferences>
    </div>
</md-toolbar>

<div style="margin-top: 150px;text-align:center;" ng-show="!contentReady">
    <loader show="!contentReady"></loader>
</div>

<div layout="row"
     style="height:100%;"
     layout-align="start start"
        ng-show="contentReady"
        class="zoomIn-animation">

    <div flex-xs="100"
         flex-sm="100"
         flex-md="100"
         flex-gt-md="65"
         flex-gt-lg="65"
         flex
            style="padding: 0px 20px 0 0;">
        <div layout="column">
            <div>
                <div id="user-news-container"
                     style="overflow-y: scroll;" ng-style="{'height': '{{totalHeight}}px'}">
                    <md-tabs md-dynamic-height
                             md-center-tabs
                             md-selected="activeSection"
                             md-theme="{{$root.userInfo.preferences.theme}}"
                             md-theme-watch="true" >


                        <md-tab label="Noticias Destacadas">
                            <infinite-display-wrapper config="config"></infinite-display-wrapper>
                        </md-tab>


                    </md-tabs>
                </div>
            </div>

        </div>
    </div>

    <div flex hide-md hide-sm hide-xs>
        <div layout="column">
            <div>
                <div style="padding:35px 20px 0 0;">
                    <trending-hashtags-section height="splitHeight"></trending-hashtags-section>
                </div>
                <div style="padding:35px 20px 0 0;">
                    <trending-leaders-section height="splitHeight"></trending-leaders-section>
                </div>
            </div>
        </div>
    </div>

</div>


