<md-card item-whiteframe="post">
    <div class="no-outline">
        <md-card-header style="padding-right:0px;">
            <md-card-avatar>
                <img ng-src="{{post.source.fileUrl}}" alt="{{post.source.name}}"/>
            </md-card-avatar>
            <md-card-header-text>
                <div layout="row" layout-align="start start" ng-click="loadSource()" class="no-outline">
                    <div layout="column">
                        <span class="md-title">{{post.source.name}}</span>
                        <div>
                            <md-tooltip md-direction="top" class="material-tooltip">{{post.eventDate | amDateFormat:'dddd, Do MMMM YYYY'}}</md-tooltip>
                            <span class="md-subhead" am-time-ago="post.eventDate"></span>
                        </div>
                    </div>
                    <div class="m-left-5" ng-show="post.newItem"><div class="badge bg-{{$root.userInfo.preferences.theme}}">NUEVO</div></div>
                </div>
            </md-card-header-text>
            <bookmark-post-element post="post"></bookmark-post-element>
        </md-card-header>

        <div ng-click="displayPost($event)" class="no-outline">
            <div ng-show="$root.userInfo.preferences.card == 'expand'" class="fadeIn-animation">
                <img ng-src="{{post.image}}" class="md-card-image grid-img" alt="{{post.title}}" ng-show="post.image">
                <md-card-title ng-show="post.title">
                    <md-card-title-text>
                        <span class="md-title">{{post.title}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content ng-show="post.description">
                    <p>{{post.description | characters:150}}</p>
                </md-card-content>
            </div>
            <div ng-show="$root.userInfo.preferences.card == 'compress'" class="fadeIn-animation">
                <md-card-title>
                    <md-card-title-text ng-show="post.title">
                        <span class="md-title">{{post.title}}</span>
                    </md-card-title-text>
                    <md-card-title-media ng-show="post.image">
                        <div class="md-media-md">
                            <img ng-src="{{post.image}}" class="md-card-image grid-img" alt="{{post.title}}">
                        </div>
                    </md-card-title-media>
                </md-card-title>
            </div>
        </div>

        <post-hashtags post="post" truncate="true"></post-hashtags>

        <md-divider ng-show="post.leaders"></md-divider>
        <post-leaders post="post"></post-leaders>
    </div>
</md-card>