<md-dialog
        aria-label="Leaders"
        flex-xs="100"
        flex-sm="100"
        flex-gt-sm="95"
        flex-md="85"
        flex-gt-md="70"
        style="height: 100%;">
    <md-toolbar md-theme="{{$root.userInfo.preferences.theme}}"
                md-theme-watch="true"
                md-whiteframe="7">
        <div class="md-toolbar-tools"
                layout="row">
            <md-icon aria-label="bookmark" class="material-icons step">bookmark</md-icon>
            <h2>Hashtags en Marcadores</h2>
            <span flex></span>
            <div flex ng-show="searching" class="fadeIn-animation">
                <div layout="row" layout-align="center center">
                    <md-button class="md-icon-button" ng-click="disableSearch()">
                        <md-icon aria-label="arrow_forward" class="material-icons step">arrow_forward</md-icon>
                    </md-button>
                    <div style="margin-top:20px;" flex>
                        <div layout="row">
                            <md-input-container flex>
                                <input ng-model="searchQuery"
                                       id="bookmarkSearch"
                                       type="text"
                                       aria-label="Search"
                                       style="color:white;width:100%;">
                            </md-input-container>
                        </div>

                    </div>
                </div>
            </div>

            <md-button class="md-icon-button" ng-click="enableSearch()" ng-hide="searching">
                <md-icon aria-label="search" class="material-icons step">search</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon aria-label="close" class="material-icons step">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content style="height: 100%;" class="dialog-content-scroll">
        <div style="margin-top: 120px;" ng-show="!contentReady"><loader show="!contentReady"></loader></div>
        <div ng-show="contentReady" class="zoomIn-animation">
            <div ng-repeat="hashtag in bookmarkHashtags | filter:searchQuery" class="zoomInOut-animation">
                <div style="padding: 10px 15px 10px 15px">
                    <hashtag-card hashtag="hashtag"></hashtag-card>
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>