<md-toolbar class="md-hue-1" md-whiteframe="5" style="margin:0px;"  md-theme="{{$root.userInfo.preferences.theme}}" md-theme-watch="true">
    <div class="md-toolbar-tools">
        <md-icon md-font-icon="fa-paper-plane-o" class="fa" alt="Plane" style="font-size:19px;"></md-icon>
        <h2>
            <span>Noticias</span>
        </h2>
        <span flex></span>
        <preferences></preferences>
    </div>
</md-toolbar>

<div layout="column">
    <md-tabs md-dynamic-height

             md-center-tabs md-selected="selectedIndex"
             md-theme="{{$root.userInfo.preferences.theme}}"
             md-theme-watch="true">
        <md-tab label="{{category.name}}" ng-repeat="category in categoriesData"></md-tab>
    </md-tabs>

    <div class="md-padding">
        <ui-view></ui-view>
    </div>

</div>




