
<div layout="row" flex>
    <!-- Admin Users -->
    <div class="md-padding"
         layout="column"
         flex-xs="100"
         flex-sm="100"
         flex-md="100"
         flex-gt-md="65">

        <div md-whiteframe="6">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Administradores</span>
                    </h2>
                    <span flex></span>

                    <toolbar-search></toolbar-search>
                </div>
            </md-toolbar>



            <md-list flex>
                <md-list-item class="md-3-line"
                              ng-repeat="user in atomicArray.items | filter:{isAdmin: true} | filter:parentScope.query"
                              ng-click="parentScope.selectUser($event, user)">

                    <div class="md-list-item-text md-padding" layout="column">
                        <div layout="row" layout-align="center center">
                            <p style="font-size:26px;margin-right:10px;">{{ user.name }}</p>
                            <p>{{ user.email }}</p>
                            <span flex></span>
                            <span class="badge bg-teal">{{user.authority}}</span>
                        </div>

                        <ul>
                            <li class="padding-5 margin-5"
                                style="display: inline;border-radius: 5px;"
                                ng-repeat="section in parentScope.sectionsArray.items"
                                ng-class="{'bg-green': user.authority >= section.authority, 'bg-red': user.authority < section.authority}">
                                <span>{{section.name}} ({{section.authority}})</span>
                            </li>
                        </ul>


                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </div>
    </div>

    <!-- Normal Users -->
    <div class="md-padding"
         layout="column"
         flex-xs="100"
         flex-sm="100"
         flex-md="100"
         flex-gt-md="35">
        <div md-whiteframe="6">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Usuarios</span>
                    </h2>
                    <span flex></span>

                    <toolbar-search></toolbar-search>

                </div>
            </md-toolbar>



            <md-list flex>
                <md-list-item class="md-3-line"
                              ng-repeat="user in atomicArray.items | filter:{isAdmin: false} | filter:parentScope.query"
                              ng-click="parentScope.selectUser($event, user)">

                    <div class="md-list-item-text md-padding" layout="column">
                        <div layout="row" layout-align="center center">
                            <p style="font-size:26px;margin-right:10px;">{{ user.name }}</p>
                            <p>{{ user.email }}</p>
                        </div>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </div>
    </div>
</div>

