<md-list-item ng-repeat="user in atomicArray.items"
              ng-click="null">
    <div layout="row" flex>
        <md-icon aria-label="person_outline" class="material-icons step">person_outline</md-icon>&nbsp;
        {{user.name}}
        <span flex></span>
        <md-button aria-label="Remove"
                   class="md-icon-button"
                   style="margin-right: -8px;"
                   ng-click="unassign(user)">
            <md-icon aria-label="remove_circle" class="material-icons step color-red">remove_circle</md-icon>
        </md-button>
    </div>
</md-list-item>


<md-divider></md-divider>
<md-list-item ng-click="assignMode()" flex>
    <div ng-hide="assigning" ng-click="assignMode()" layout="row">
        <md-icon aria-label="person_add" class="material-icons step">person_add</md-icon>&nbsp;
        Asignar Administrador
    </div>
    <div ng-show="assigning"
         layout="row"
         layout-align="center center"
         flex
         class="m-top-10">
        <md-input-container class="md-block" flex>
            <md-icon aria-label="search" class="material-icons step">search</md-icon>
            <input ng-model="searchQuery" type="text" placeholder="Ingresa el nombre del usuario que buscas">
        </md-input-container>
        <md-button aria-label="Remove"
                   class="md-icon-button"
                   style="margin-right:-8px;"
                   ng-click="cancel()">
            <md-icon aria-label="arrow_back" class="material-icons step">arrow_back</md-icon>
        </md-button>
    </div>
</md-list-item>

<md-list-item class="md-2-line"
              ng-show="assigning"
              ng-repeat="user in userAtomicArray.items | filter: searchQuery | filter: isAdmin"
              ng-click="assign(user)">
    <md-icon aria-label="person_outline" class="material-icons step">person_outline</md-icon>
    <div class="md-list-item-text" layout="column">
        <h3>{{user.name}}</h3>
        <p>{{user.email}}</p>
    </div>
</md-list-item>