<md-card item-whiteframe="article">
    <div class="no-outline">
        <md-card-header style="padding-right:0px;">
            <md-card-avatar>
                <img ng-src="{{article.source.fileUrl}}" alt="{{article.source.name}}"/>
            </md-card-avatar>
            <md-card-header-text>
                <div layout="row" layout-align="start start">
                    <div layout="column" ng-click="displayArticle($event)" class="no-outline">
                        <span class="md-title">{{article.source.name}}</span>
                        <div>
                            <md-tooltip md-direction="top" class="material-tooltip">{{article.creationTS | amDateFormat:'dddd, Do MMMM YYYY'}}</md-tooltip>
                            <span class="md-subhead" am-time-ago="article.creationTS"></span>
                        </div>
                    </div>
                    <div class="m-left-5" ng-show="article.newItem"><div class="badge bg-teal">NUEVO</div></div>

                    <span flex></span>
                    <!--<md-button class="md-icon-button" style="margin-right:-5px;" ng-click="null">
                        <md-tooltip md-direction="left" class="material-tooltip">{{article.category.name}}</md-tooltip>
                        <img src="{{article.category.fileUrl}}" alt="{{article.category.name}}" style="width: 24px;">
                    </md-button>-->

                    <md-button class="md-icon-button" ng-click="toggleOutstanding(article)">
                        <md-icon aria-label="whatshot" class="material-icons step" ng-class="{'color-green': article.outstanding}">whatshot</md-icon>
                    </md-button>
                </div>
            </md-card-header-text>
        </md-card-header>

        <div ng-click="displayArticle($event)" class="no-outline">
            <div class="fadeIn-animation">
                <img ng-src="{{article.image}}" class="md-card-image grid-img" alt="{{article.title}}" ng-show="article.image">
                <md-card-title ng-show="article.title">
                    <md-card-title-text>
                        <span class="md-title">{{article.title}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content ng-show="article.description">
                    <p>{{article.description | characters:150}}</p>
                </md-card-content>
            </div>
        </div>

        <article-hashtags article="article" truncate="true"></article-hashtags>

        <md-divider ng-show="article.leaders"></md-divider>
        <article-leaders article="article"></article-leaders>
    </div>
</md-card>