<md-dialog
        aria-label="Article"
        flex-xs="100"
        flex-sm="100"
        flex-gt-sm="75"
        flex-md="70"
        flex-gt-md="65"
        style="overflow-y: hidden;">
    <div class="margin-0" md-whiteframe="7" style="z-index:5;height:70px;">
        <div layout="row" layout-align="center center" class="margin-5">
            <div layout="row"
                 layout-align="start start"
                 ng-click="loadSource()"
                 class="no-outline article-header-source" style="cursor: pointer">
                <img ng-src="{{article.source.fileUrl}}" style="max-width: 60px;height: 60px;">
                <div layout="column" class="margin-10">
                    <span class="md-title">{{article.source.name}}</span>
                    <div>
                        <md-tooltip md-direction="top" class="material-tooltip">{{article.creationTS | amDateFormat:'dddd, Do MMMM YYYY'}}</md-tooltip>
                        <span class="md-subhead" am-time-ago="article.creationTS"></span>
                    </div>
                </div>
                <div class="margin-10" ng-show="article.newItem"><div class="badge bg-{{$root.userInfo.preferences.theme}}">NUEVO</div></div>
            </div>

            <span flex></span>

            <bookmark-article-element article="article"></bookmark-article-element>

            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-tooltip md-direction="left" class="material-tooltip">Cerrar</md-tooltip>
                <md-icon aria-label="close" class="material-icons step">close</md-icon>
            </md-button>
        </div>
    </div>

    <md-dialog-content>
        <div class="md-dialog-content content-container">
            <div layout="row" layout-align="center center" flex>
                <div layout="column">
                    <img ng-src="{{article.image}}" alt="{{article.title}}"
                         ng-if="article.source.articleConfig.showImage && article.image">
                </div>
            </div>
            <div layout="column">
                <h3 class="headline" style="margin:15px 0px 10px 0px;"
                    ng-if="article.source.articleConfig.showTitle && article.title">{{article.title}}</h3>
                <div ng-bind-html="htmlContent"></div>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions
            layout="row"
            layout-align="center center"
            ng-show="article.primaryHashtag || article.leaders"
            style="padding:0px;z-index:5">
        <div flex>
            <article-hashtags article="article"></article-hashtags>
        </div>
        <div flex="30" ng-show="article.leaders">
            <article-leaders article="article"></article-leaders>
        </div>
    </md-dialog-actions>
</md-dialog>


